<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户批量导入</title>
</head>
   <body>
      <a href="/download_excel/">点击下载模板!</a>
      <form action = "/add_users/" method = "POST" 
         enctype = "multipart/form-data">
         {% csrf_token %}
         <p>{{ form.user_file }} {%if form.user_file.errors %}{{ form.user_file.errors.0 }} {% endif %}</p>
         <p><input style="width:50px;height:30px" type = submit value ="提交"></p>
      </form>
      <h2><a style = "font-size:17px;margin-top:10px;color:blue;" href = "/management">返回主页</a></h2>
   </body>
</html>
