<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>Book management</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">  
	<script src="/static/js/jquery/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
</head>
<style>
    p{color: red; line-height: 50px;}
</style>
<body>
    <script>
        function parameter_id(id) {
        $( '#updateDeptId').val(id);
        }
    </script>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                         <button style="font-size: larger;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Management</a>
                    </div>
                    <ul class="nav navbar-nav">
						<li>
							 <a href="/management/user">User</a>
						</li>
						<li class="active">
							 <a href="/management/book">Book</a>
						</li>
                        <li>
                            <a href="/management/system">System</a>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a style="margin-right: 100px;" href="/home">Go Back</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <h3 style="margin-top: 80px;" class="text-center">
                    Books
                </h3>
                <div style="float: left;" class="container">
                    <div class="row clearfix">
                        <div style="padding-left:0" class="col-md-12 column">
                            <div style="margin-right: 15px;" class="{{ dic1['style'] }}">
                                <h4>
                                    {{ dic1['title'] }}
                                </h4> <strong>{{ dic1['title'] }}</strong>{{ dic1['message'] }}
                            </div>
                        </div>
                    </div>
                </div> 
                <a id="modal-207274" href="/management/refresh?cur_url=/management/book" role="button" class="btn btn-default btn-primary" style="float:right;font-size: smaller;" data-toggle="modal">Refresh</a>
                <a id="modal-207274" href="#modal-container-207274" role="button" class="btn btn-default" style="float:right;font-size: smaller;" data-toggle="modal">AddBook</a>
                <div class="modal fade" id="modal-container-207274" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                <h4 class="modal-title" id="myModalLabel">
                                    Add Book
                                </h4>
                            </div>
                            <div class="modal-body">
                                <form role="form" action="/management/book/addbook" method="post" enctype = "multipart/form-data">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="bookname">bookname</label><input type="text" class="form-control" name="bookname" />
                                    </div>
                                    <div class="form-group">
                                        <label for="booktype">booktype</label>
                                        <select name="booktype" class="form-control">
                                            <option value="None">Please Select</option>
                                            <option value="Python">Python</option>
                                            <option value="C">C</option>
                                            <option value="C++">C++</option>
                                            <option value="Java">Java</option>
                                            <option value="Javascript">Javascript</option>
                                            <option value="Linux">Linux</option>
                                            <option value="Go">Go</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="book_description">description</label>
                                        <textarea class="form-control" rows="3" name="book_description"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="issue_year">issue_year</label><input type="date" class="form-control" name="issue_year" />
                                    </div>
                                    <div class="form-group">
                                        <label for="bookfile">File input</label><input type="file" name="bookfile" />
                                       <p class="help-block">
                                        Please select the file to upload.
                                       </p>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-primary">Submit</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                </div> 
                <table style="margin-top: 15px;" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Book Name
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Issue Year
                            </th>
                            <th>
                                File Name
                            </th>
                            <th>
                                Add Time
                            </th>
                            <th>
                                Number of Download
                            </th>
                            <th>
                                Operation
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in list1 %}
                            <tr class="{{ item['style'] }}">
                                <td>
                                    {{ item['id'] }}
                                </td>
                                <td>
                                    {{ item['book_name'] }}
                                </td>
                                <td>
                                    {{ item['book_type'] }}
                                </td>
                                <td>
                                    {{ item['issue_year'] }} 
                                </td>
                                <td>
                                    {{ item['book_file_name'] }}
                                </td>
                                <td>
                                    {{ item['add_book_time'] }}
                                </td>
                                <td>
                                    {{ item['number_of_downloads'] }}
                                </td>
                                <td>
                                    {% set id=item['id'] %}
                                    <a id="modal-207275" onclick="parameter_id('{{ id }}')" href="#modal-container-207275" role="button" style="font-size: x-small;" class="btn btn-default" data-toggle="modal">Update</a><a role="button" class="btn btn-default btn-primary" style="margin-left: 15px;font-size: x-small;" href="/management/book/delete?id={{ item['id'] }}">Delete</a>
                                </td>
                            </tr>  
                        {% endfor %}
                        <div class="modal fade" id="modal-container-207275" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            Update Book(The input field is allowed to be empty, and is not modified if it is empty.)
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form" action="/management/book/update" method="post">
                                            {{ form.csrf_token }}
                                            <div class="form-group">
                                                <label for="id">id</label><input type="text" class="form-control" id="updateDeptId" name="id"  readonly="readonly" />
                                            </div>
                                            <div class="form-group">
                                                <label for="bookname1">bookname</label><input type="text" class="form-control" name="bookname1" />
                                            </div>
                                            <div class="form-group">
                                                <label for="booktype1">booktype</label>
                                                <select name="booktype1" class="form-control">
                                                    <option value="None">Please Select</option>
                                                    <option value="Python">Python</option>
                                                    <option value="C">C</option>
                                                    <option value="C++">C++</option>
                                                    <option value="Java">Java</option>
                                                    <option value="Javascript">Javascript</option>
                                                    <option value="Linux">Linux</option>
                                                    <option value="Go">Go</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="book_description">description</label>
                                                <textarea class="form-control" rows="3" name="book_description"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="issue_year">issue_year</label><input type="date" class="form-control" name="issue_year" />
                                            </div>
                                            <div class="form-group">
                                                <label for="file_name">file_name</label><input type="text" class="form-control" name="file_name" />
                                            </div>
                                            <button type="submit" class="btn btn-default btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </tbody>
                </table>
                <div class="row clearfix">
                    <div class="col-md-2 column">
                    </div>
                    <div class="col-md-6 column">
                    </div>
                    <div class="col-md-4 column">
                        <ul class="pagination">
                            <li class="{{ dic1['active_Prev'] }}">
                                {% if dic1['current_page_number'] <=2  %}
                                    <a href="/management/book/page?number=1">Prev</a>
                                {% else %}
                                    <a href="/management/book/page?number={{ dic1['current_page_number']-1 }}">Prev</a>
                                {% endif %}
                               </li>
                            <li class="{{ dic1['active1'] }}">
                                 <a href="/management/book/page?number=1">1</a>
                            </li>
                            <li class="{{ dic1['active2'] }}">
                                 <a href="/management/book/page?number=2">2</a>
                            </li>
                            <li class="{{ dic1['active3'] }}">
                                 <a href="/management/book/page?number=3">3</a>
                            </li>
                            <li class="{{ dic1['active4'] }}">
                                 <a href="/management/book/page?number=4">4</a>
                            </li>
                            <li class="{{ dic1['active5'] }}">
                                 <a href="/management/book/page?number=5">5</a>
                            </li>
                            <li class="{{ dic1['active_next'] }}">
                                 <a href="/management/book/page?number={{ dic1['current_page_number']+1 }}">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body> 
</html>


