<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>result</title>
</head>
   <body>

<hr><h2>{{ dic['name'] }}的信息</h2>

<table class="reference notranslate">
<tbody><tr>
<th align="left">属性</th>
<th align="left">信息</th>
</tr>
<tr>
<td>学号:</td>
<td>{{ dic['id'] }}</td>
</tr>
<tr>
<td>姓名:</td>
<td>{{ dic['name'] }}</td>
</tr>
<tr>
<td>性别:</td>
<td>{{ dic['sex'] }}</td>
</tr>
<tr>
<td>出生年月:</td>
<td>{{ dic['date'] }}</td>
</tr>
<tr>
<td>民族:</td>
<td>{{ dic['nation'] }}</td>
</tr>
<tr>
<td>身高:</td>
<td>{{ dic['height'] }}</td>
</tr>
<tr>
<td>身份证号码:</td>
<td>{{ dic['idCard'] }}</td>
</tr>
<tr>
<td>手机号码:</td>
<td>{{ dic['PhoneNumber'] }}</td>
</tr>
<tr>
<td>家庭住址:</td>
<td>{{ dic['address'] }}</td>
</tr>
<tr>
<td>班主任姓名:</td>
<td>{{ dic['teacher'] }}</td>
</tr>
<tr>
<td>兴趣爱好:</td>
<td>{{ dic['hobbies'] }}</td>
</tr>
</tbody></table>
<h2><a style = "margin-top: 10px" href = "/home">返回主页</a></h2>

</body>
</html>

