<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>书本</title>
    </head>
    <h3>查询结果</h3>
    <table border = 1>
        <td>书本名称</td><td>书本类型</td><td>书本介绍</td><td>出版年份</td><td>文件下载</td>
        <tr>
            <td>{{dic.book_name}}</th><td>{{dic.book_type}}</td><td>{{dic.book_introduction}}</th><td>{{dic.issue_year}}</td><td><a style = "font-size:17px;margin-top: 10px;color:blue;" href = "/download/{{dic.book_file_name}}">{{dic.book_file_name}}</a></td>
        </tr>
    </table>


    <a style="line-height: 100px" href="/home/">点击，返回查询界面！</a>
<html>
<body>